params {
  executor = 'awsbatch'
  aws_batch_cliPath = '~/miniconda/bin/aws'
  aws_batch_fetchInstanceType = true
  aws_batch_process_queue = "nf-batch-4"
  aws_batch_docker_run_options = "--ulimit nofile=65535:65535 --ulimit nproc=65535 --user 0"
  input = "s3://eu-west-1-example-data/nihr/testdata/test_input_cloudos.csv"
  genome_fasta = "s3://eu-west-1-example-data/nihr/testdata/Homo_sapiens_assembly38.fasta"
  genome_fasta_fai = "s3://eu-west-1-example-data/nihr/testdata/Homo_sapiens_assembly38.fasta.fai"
}

docker {
    enabled = true
    runOptions = params.aws_batch_docker_run_options
}

process {
      queue = params.aws_batch_process_queue
}

aws.batch.cliPath = params.aws_batch_cliPath
aws.batch.fetchInstanceType = params.aws_batch_fetchInstanceType
