params {
  // executor scope parameters: defined and last evaluated in nextflow.config's last section
  executor = 'awsbatch'
  
  // aws scope parameters: defined and last evaluated in awsbatch.config's last section
  aws_region = "eu-west-1"
  aws_batch_cliPath = '~/miniconda/bin/aws'
  aws_batch_fetchInstanceType = true
  
  // process scope parameter: defined and last evaluated in awsbatch.config's process scope section
  aws_batch_process_queue = "nf-batch-4"
  
  // docker scope parameter:  defined and last evaluated in awsbatch.config's docker scope section
  aws_batch_docker_run_options = "--ulimit nofile=65535:65535 --ulimit nproc=65535 --user 0"
  
  // input file parameters - aws specific
  input = "s3://eu-west-1-example-data/nihr/testdata/test_input_cloudos.csv"
  genome_fasta = "s3://eu-west-1-example-data/nihr/testdata/Homo_sapiens_assembly38.fasta"
  genome_fasta_fai = "s3://eu-west-1-example-data/nihr/testdata/Homo_sapiens_assembly38.fasta.fai"
  pre_script = "df -h; ls -lh; curl -s http://169.254.169.254/latest/meta-data/instance-type; curl -s http://169.254.169.254/latest/meta-data/instance-id"
  
  // containers with the tools plus curl to be able to fetch ec2 instance metadata
  container_manta = "quay.io/lifebitai/manta"
  container_strelka = "quay.io/lifebitai/strelka"
}

docker {
    enabled = true
    runOptions = params.aws_batch_docker_run_options
}

process {
      queue = params.aws_batch_process_queue
}

aws.region = params.aws_region
aws.batch.cliPath = params.aws_batch_cliPath
aws.batch.fetchInstanceType = params.aws_batch_fetchInstanceType
