docker.enabled = true

params {
    max_memory = "6.GB" 
    max_cpus = 2
    input = "s3://eu-west-1-example-data/nihr/testdata/test_input_cloudos.csv"
    genome_fasta = "s3://eu-west-1-example-data/nihr/testdata/Homo_sapiens_assembly38.fasta"
    genome_fasta_fai = "s3://eu-west-1-example-data/nihr/testdata/Homo_sapiens_assembly38.fasta.fai"
}
