docker.enabled = true

params {
    cpus_manta  = 2
    cpus_strelka = 2
    memory_manta = "3.GB"
    memory_strelka = "3.GB"

    max_memory = "6.GB" 
    max_cpus = 2

    input = "https://eu-west-1-example-data.s3-eu-west-1.amazonaws.com/nihr/testdata/test_input_cloudos.csv"
    genome_fasta = "https://eu-west-1-example-data.s3-eu-west-1.amazonaws.com/nihr/testdata/Homo_sapiens_assembly38.fasta"
    genome_fasta_fai = "https://eu-west-1-example-data.s3-eu-west-1.amazonaws.com/nihr/testdata/Homo_sapiens_assembly38.fasta.fai"

    executor = 'local'
    queueSize = 100
}
